.header
  グループを作成しました。
.chat  
  .chat_sidebar
    .chat_sidebar_top
      .chat_sidebar_top_user-name
        名前
      .chat_sidebar_top_icon
        .chat_sidebar_top_icon_message
          <i class="far fa-edit"></i>
        .chat_sidebar_top_icon_edit
          <i class="fas fa-cog"></i>
    .chat_sidebar_contents
      .chat_sidebar_contents_group
        .chat_sidebar_contents_group_name
          グループ名
        .chat_sidebar_contents_group_message
          まだメッセージがありません。
        .chat_sidebar_contents_group_name
          グループ名
        .chat_sidebar_contents_group_message
          まだメッセージがありません。
        .chat_sidebar_contents_group_name
          グループ名
        .chat_sidebar_contents_group_message
          まだメッセージがありません。   
        .chat_sidebar_contents_group_name
          グループ名
        .chat_sidebar_contents_group_message
          まだメッセージがありません。 
        .chat_sidebar_contents_group_name
          グループ名
        .chat_sidebar_contents_group_message
          まだメッセージがありません。        
          
  .chat_main
    .chat_main_top
      .chat_main_top_group
        .chat_main_top_group_group-name
          グループ名
        .chat_main_top_group_username
          Member : 名前   
      .chat_main_top_edit-btn
        EDIT

    .chat_main_contents
      .chat_main_contents_message
        .chat_main_contents_message_username
          名前 
        .chat_main_contents_message_message-box
          投稿した。
        .chat_main_contents_message_username
          名前 
        .chat_main_contents_message_message-box
          投稿した。
        .chat_main_contents_message_username
          名前 
        .chat_main_contents_message_message-box
          投稿した。    
        .chat_main_contents_message_username
          名前 
        .chat_main_contents_message_message-box
          投稿した。     

    .chat_main_form
      .chat_main_form_message
        type  a  message
        .chat_main_form_message_icon
      .chat_main_form_send-btn     
        Send       


        