.header {
  height:26px;
  background-color: #38AEF0;
  color: white;
  text-align: center;
}
.chat{
  display: flex;
  &_sidebar {
    height: calc(100vh - 20px);
    width: 300px;
    color: white;
    &_top {
      background-color: #253141;
      font-size: 16px;
      font-weight: bold;
      height: 100px;
      line-height: 90px;
      
      &_user-name {
        padding: 0px 20px;
      }    
    }
    &_contents {
      height: calc(100vh - 126px);
      background-color: #2f3e51;
      &_group {
        height: 90px;
        &_name {
          font-size: 15px;
          padding: 20px 20px 5px 20px;
          
        }
        &_message {
          font-size: 11px;
          padding: 0px 20px 40px 20px;
          
        }
      }
    }
  }

  &_main {
    width: calc(100vw - 300px);
    float: right;
    height: calc(100vh - 20px);
    &_top {
      height: 110px;
      display: flex;
      &_group {
        &_group-name{
          font-size:20px;
          color:#333333;
          padding: 35px 0px 15px 40px;
        }
        &_username{
          font-size:12px;
          color: #999999;
          padding-left: 40px;
          display:flex;
        
        }
      }
      &_edit-btn{
        border: 1px solid #38AEF0;
        color: #38AEF0;
        padding:5px 20px;
        display:inline-block;
        position: absolute;
        top: 50px;
        right: 40px;
      }
    }

    &_contents {
      background-color: #eeeeee;
      height: calc(100vh - 100px - 90px);
      overflow:scroll;
      &_message {
        &_A {
          display:flex;
          height:70px;

          }  
          &_username {
            font-size: 16px;
            font-weight: bold;
            color: #434A54;
            padding: 46px 0 0px 40px;
            width:560px;
            display:flex;
          }
          &_time {
            color: #999999;
            font-size: 12px;
            float: right;
            line-height: 120px;
            width: 200px;
        }   
        &_message-box {
          font-size: 14px;
          color: #434A54;
          padding: 10px 0 0px 40px;
        }
        
      }
    }
    &_form {
      background-color: lightgray;
      height: 90px;
      display: flex;
      position: relative;
      &_message{
        display: block;
        background-color: white;
        height: 50px;
        width: 79%;
        color: gray;
        line-height: 50px;
        padding-left:20px;
        
      }
      &_send-btn {
        background-color: #38AEF0;
        height: 50px;
        width: 90px;
        display:block;
        color: white;
        text-align:center;
        line-height: 50px;
        
      }
    }
    

  }

}

.fa-cog{
  position:absolute;
  top:70px;
  left:270px;
}
.fa-edit{
  position:absolute;
  top: 70px;
  left: 240px;
}
.fa-images {
  float:right;
  padding-top:17px;
  padding-right:20px;
}


.fa-picture-o {
  position:absolute;
  bottom:35px;
  right:190px;
}

.message[content]{
  display: block;
  background-color: white;
  height: 50px;
  width: 75%;
  color: gray;
  line-height: 50px;
  padding-left:20px;
}
#message_image{
  height:30px;
  margin-bottom:20px;
}
.chat_main_contents_message_A_username{
  padding-right:120px;
}
.chat_main_contents_message_A_time{
  font-size:12px;
  color: #999999;
}
